.wrapper {
  width: 100%;
  height: fit-content;
  background: #9D2135 ;
  position: absolute;
  top: 70px;
  display: flex;
  padding: 40px;
z-index: 10;

}


.contentBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  a {
    color: white;
  }
}